html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
 
body {
    display: flex;
    flex-direction: column;
}
 
header {
    height: 75px;
}
 
main {
	display: flex;
	flex-direction: row;
    flex: auto;
}
 
footer {
    height: 25px;
}

nav {
	width: 150px;
}

.main {
	flex: auto;
}

ct-chat {
    /*width: 250px;*/
}

ct-chat ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
ct-chat ul li { 
    padding: 5px 10px; 
}
ct-chat ul li:nth-child(odd) {
    background: #eee; 
}

.welcome, .welcome h1, .welcome h2{
    display: inline;
}

.alert.top-right {
}

alerts {
    position: absolute;
    top: 10px;
    right: 10px
}