html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
 
body {
    display: flex;
    flex-direction: column;
}
 
header {
    height: 75px;
}
 
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
 
footer {
    height: 25px;
}

nav {
    width: 150px;
}

.main {
    flex: auto;
}

ct-chat {
    /*width: 250px;*/
}

ct-chat ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
ct-chat ul li { 
    padding: 5px 10px; 
}
ct-chat ul li:nth-child(odd) {
    background: #eee; 
}

.welcome, .welcome h1, .welcome h2{
    display: inline;
}

.alert.top-right {
}

alerts {
    position: absolute;
    top: 10px;
    right: 10px
}

.ct-game-board {
    width: 745px;
    /* height: 500px; */
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

.ct-game-board-row {
    width: 100%;
    /* flex-grow: 1; */
    background-color: orange;
    /*border: 1px solid black;*/
    display: flex;
}

.ct-game-board-tile {
    /*background-color: white;*/
    border: 1px solid grey;
    /* flex-grow: 1; */
    width: 50px;
    height: 50px;
    font-size: 9px;
    text-align: center;
    background-image: url(../img/kingslanding.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto 50px;

}

.ct-game-board-tile-title {
    text-shadow: #000 0px 0px 1px;
    color: white;
    font-size:12px;
}

.ct-game-board-tile-hor {
    width: 80px;
    height: 65px;
}

.ct-game-board-tile-ver {
    width: 65px;
    height: 80px;
}

.ct-game-board-col {
    /* flex-grow: 1; */
    background-color: orange;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}

.ct-game-board-middle {
    flex-grow: 9;
    background-image: url(../img/cartel.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: grey;
    border: solid;
    background-position: center;
}

.ct-game-board-middlerow {
    flex-grow: 9;
    display: flex;
}

.ct-game-board-corner {
    /*background-color: blue;*/
    width: 80px;
    height: 80px;
    background-size: contain;
}

.ct-player-turn {
    background-color: yellow;
}