html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
 
body {
    display: flex;
    flex-direction: column;
}
 
header {
    height: 75px;
}
 
main {
	display: flex;
	flex-direction: row;
    flex: auto;
}
 
footer {
    height: 25px;
}

nav {
	width: 150px;
}

.main {
	flex: auto;
}

chat {
    width: 250px;
	background-color: green;
}

chat ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
chat ul li { 
    padding: 5px 10px; 
}
chat ul li:nth-child(odd) {
    background: #eee; 
}

#welcomeTextDiv, #welcomeTextDiv h1, #welcomeTextDiv h2{
    display: inline;

}