<div class="container">
	<ct-board class="col-sm-10"></ct-board>
	<div class="col-sm-2">
		<div ng-repeat="player in game.playerStates" ng-class="{'ct-player-turn': game.playerIndex === $index}">
			<h4>{{player.name}}</h4>
			${{player.cash}}
		</div>
		<button ng-disabled="!canRoll()" ng-click="roll()" class="btn btn-success">Roll</button>
		<button ng-disabled="game.turnState != 1 || !isMyTurn()" ng-click="endTurn()" class="btn btn-success">End Turn</button>
		<button ng-disabled="!canBuyProperty()" class="btn btn-success">Buy Current Property</button>
		<button ng-show="isOwner" ng-click="deleteGame()" class="btn btn-danger">Delete</button>
	</div>
</div>