<div>
	Game ID: {{gameId}}
</div>
<div>
	Players:
	<ul>
		<li ng-repeat="player in game.players" ng-class="{ready: player.ready}">
			{{player.name}}, {{player.ready}}
			<button ng-show="isOwner && player.name != user" ng-click="kickUser(player.name)">kick</button>
		</li>
	</ul>
</div>
Ready: <input type="checkbox" ng-model="playerState.ready" value="false" ng-change="updateReadyStatus()">
<button ng-show="isOwner" ng-click="deleteGame()">Delete</button>
<button ng-show="isOwner && everyoneReady()" ng-click="startGame()">Start Game</button>
<chat></chat>